{% extends 'base.html' %}
{% block title %}Q&A{% endblock %}

{% block content %}
<div class="question_list_con">
	<ul class="question_list">
	{% for item in question_list %}
	<li><h3><a href="{% url 'main:question' item.id %}">{{ item.question_title }}</a></h3></li>
		<h3>By {{ item.question_user.first_name }}</h3>
		<h4>In {{ item.question_date }}</h4>
		<h3>Likes: {{ item.question_likes_count }}</h3>
		<h3>Disikes: {{ item.question_dislikes_count }}</h3>
		<br>
		<hr>
	{% endfor %}
	</ul>
</div>
<br>
{% endblock %}
