{% extends 'base.html' %}
{% block title %}{{ question.question_title }}{% endblock %}
{% block content %}
<br>
<div class="question_body">
	<div class="question_body_title">
		<h2>{{ question.question_title }}</h2>
		<p class="question_username">By <strong>{{ question.question_user.first_name }}</strong></p>
	</div>
	<div class="question_body_text">
		<p>
			{{ question.question_text }}
		</p>
	</div>
	<div class="question_date">
		<h4>{{ question.question_date }}</h4>
	</div>
	<div class="likes">
		<h3>Likes: {{ question.question_likes_count }}</h3>
		<h3>Disikes: {{ question.question_dislikes_count }}</h3>
		{% if request.user.is_authenticated %}
		<div class="like_form">
			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="question_like" value="{{ question.id }}" />
				<p><input type="submit" value="Like" /></p>
			</form>
			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="question_dislike" value="{{ question.id }}" />
				<p><input type="submit" value="Dislike" /></p>
			</form>
		</div>
		{% ifequal request.user.username question.question_user.username %}
		<div class="delete_question">
			<form method="post">
				{% csrf_token %}
				<input type="hidden" name="question_delete" value="{{ question.id }}" />
				<p><input type="submit" value="Delete this question" /></p>
			</form>
		</div>
		{% endifequal %}
		{% endif %}
	</div>
</div>
<hr>
<h3>Answers:</h3>
<br>
{% if request.user.is_authenticated %}
<div class="answer_form">
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<p><input type="submit" value="Send Answer" /></p>
	</form>
</div>
<hr>
{% endif %}
<div class="answer_list_con">
	<ol class="answer_list">
		{% for item in answer_list %}
		<li class="answer">
			<p class="answer_username">By <strong>{{ item.answer_user.first_name }}</p>
			<p class="answer_body">{{ item.answer_text }}</p>
			<br>
			<div class="likes">
				<h3>Likes: {{ item.answer_likes_count }}</h3>
				<h3>Disikes: {{ item.answer_dislikes_count }}</h3>
				{% if request.user.is_authenticated %}
				<div class="like_form">
					<form method="post">
						{% csrf_token %}
						<input type="hidden" name="answer_like" value="{{ item.id }}" />
						<p><input type="submit" value="Like" /></p>
					</form>
					<form method="post">
						{% csrf_token %}
						<input type="hidden" name="answer_dislike" value="{{ item.id }}" />
						<p><input type="submit" value="Dislike" /></p>
					</form>
				</div>
				{% ifequal request.user.username item.answer_user.username %}
				<div class="delete_answer">
					<form method="post">
						{% csrf_token %}
						<input type="hidden" name="answer_delete" value="{{ item.id }}" />
						<p><input type="submit" value="Delete this answer" /></p>
					</form>
				</div>
				{% endifequal %}
				{% endif %}
			</div>

			<br><hr>
		</li>
		{% endfor %}
	</ol>
</div>
{% endblock %}
